name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show Swift version
        run: swift --version

      - name: Resolve dependencies
        run: swift package resolve

      - name: Run tests
        run: swift test --enable-code-coverage

  test-linux-android:
    name: Linux/Android testing
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      enable_linux_checks: true
      enable_windows_checks: false
      enable_android_sdk_build: true
      enable_android_sdk_checks: true
      android_ndk_versions: '["r27d", "r29"]'
